<h1>Login</h1>
{{#simple-form onsubmit=(action "authenticate") as |formValues|}}
  {{input value=formValues.username placeholder="Username"}}
  {{input type="password" value=formValues.password placeholder="Password"}}

  <button>Submit</button>
{{/simple-form}}





{{yield}}
