<form {{action (route-action 'authenticate' username password) on="submit"}}>
  <label>Username</label>
  {{input value=username type="text"}}

  <label>Password</label>
  {{input value=password type="password"}}

  <button type="submit" class="btn">Log in!</button>
</form>

{{yield}}
