@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import './components/shares-list.scss';
@import './components/login-form.scss';
@import './components/portfolio-view.scss';
@import './components/buy-dialog.scss';
@import './components/sell-dialog.scss';

@import './routes/login.scss';
@import './routes/portfolio.scss';
@import './routes/shares.scss';

body {
  font-family: "Open Sans";
  background-color: #F2F2F2;
  font-weight: 600;
  color: #3f3f3f;
  margin: 0px;
}

header {
  width: 100%;
  top: 0;
  height: 70px;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: fixed;

  .logo {
    float: left;
    padding: 25px;
    width: 210px;
    background-image: url(/assets/images/MMLogo.PNG);
    // background-image: url(https://whaleclub.co/im/wc-logo-full.png);
    background-size: 30px 16.5px;
    background-repeat: no-repeat;
    background-position: 25px 27px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    line-height: 20px;
    font-weight: 1;
    letter-spacing: 1px;
  }

  .main-nav {
    float: right;
    padding: 25px;;
    margin: 0px;

    ul {
      display: block;
    }

    li {
      display: inline-block;
      margin-left: 2.6rem;
      text-transform: uppercase;

      .regular-link {
        font-size: 13.5px;
        line-height: 23.04px;
        opacity: 0.85;
        text-decoration: none;
        color: #fff;

        &:hover {
          opacity: 1;
        }
      }

      .button-link {
        padding: 10px 20px;
        border-radius: 3px;
        background-color: #00a7e1;
        transition: background .2s ease,opacity .2s ease;

        &:hover {
          background-color: #14c4ff;
        }
      }
    }
  }
}

.button-link {
  text-transform: uppercase;
  line-height: 20px;
  border-color: #00a7e1;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background-color: #00a7e1;
  outline: none;
  font-weight: 600;
  transition: background .2s ease,opacity .2s ease;

  &:hover {
    background: #14c4ff;
    border-color: #14c4ff;
  }
}


.ember-modal-dialog {
  border-radius: 0;
}
