.login-form {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: #444;
      font-weight: 400;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      width: 350px;

      input {
        margin-bottom: 15px;
        width: 100%;
        outline: none;
        border: 1px solid #cbd1d3;
        padding: 14px;
        box-sizing: border-box;
        font-size: 14.5px;
        border-radius: 2px;

        &:focus {
          border: 1px solid #2598ff;
        }
      }

      .button-link {
        padding: 20px 40px;
        border-radius: 3px;
        background-color: #0074db;
        font-weight: 400;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background-color: #0080f2;
        }
      }
    }
  }

}
