.ember-modal-overlay.translucent {
  background-color: #eee;
  background: rgba(0,0,0,0.5)
}

.ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center .ember-modal-dialog {
  background-color: #eee;
  border-radius: 3px;
  box-shadow: none;
  color: #444;
}
