.trade-dialog {

}

.trade-dialog-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 25%;

  .top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;

    .title {
      padding-right: 10px;
      float: right;
      text-align: center;
      flex-grow: 2;
    }

    .close-btn {
      padding-right: 10px;
      padding-left: 10px;
      border-left: 1px solid #ddd;
    }
  }

  .mid-panel {
    display: flex;
    flex-direction: column;

    .details {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ddd;

      div {
        display: flex;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        flex-direction: column;

        span:first-child {
          padding-bottom: 5px;
        }
      }

      .balance {
        border-right: 1px solid #ddd;
      }
    }

    .quantity {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 10px;

      .quantity-btn {
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
        height: 37px;
        background: #eee;
        font-size: 15px;
        box-sizing: border-box;
        font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif, serif;
        font-weight: 500;
        text-align: center;
      }
    }

  }

  .bottom-panel {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #fff;

    .buy-btn {
      background-color: #38aa2e;
      border-bottom-right-radius: 3px;
      height: 75px;
      width: 50%;
      cursor: pointer;
      &:hover {
        background-color: #329929;
      }
    }

    .sell-btn {
      background-color: #e53522;
      border-bottom-left-radius: 3px;
      height: 75px;
      width: 50%;
      cursor: pointer;
      &:hover {
        background-color: #d42b19;
      }
    }

    .title {
      margin-top: 10px;
    }

    .price {
      margin-top: 10px;
      font-size: 20px;
    }
  }

}


.ember-modal-overlay.translucent {
  background-color: #eee;
  background: rgba(0,0,0,0.5)
}

.ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center .ember-modal-dialog {
  background-color: #eee;
  border-radius: 3px;
  box-shadow: none;
  color: #444;
}
