<div>
  <header>
    <a href="/" class="logo"></a>
    <ul class="main-nav">
  		<li>
        {{#link-to 'shares' class='regular-link'}}
          Shares
        {{/link-to}}
  		</li>
  		<li>
        {{#link-to 'portfolio' class='regular-link'}}
          Portfolio
        {{/link-to}}
  		</li>
  		<li>
        {{#link-to 'login' class='regular-link button-link'}}
          Sign in
        {{/link-to}}
  		</li>
  	</ul>
  </header>
  <main>
    <div class="page-content">{{outlet}}</div>
  </main>
</div>
